<div class="container">

<br>
<h2 class="title">Personas</h2>
<br>

    <table class="table col-md-12">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Edad</th>
            <th scope="col">Contraseña</th>

          </tr>
        </thead>
        <tbody *ngFor='let Persona of Personas'> 
          <tr>
            <th scope="row">{{Persona.nombre}}</th>
            <td>{{Persona.apellido}}</td>
            <td>{{Persona.edad}}</td>
            <td>{{Persona.contra}}</td>

          </tr>
        </tbody>
      </table>

</div>

