<div class="container">

  <div style="height:20vh;">

  </div>

  <div class="panel" >
    <br>
    <div style="text-align:center"> 
      <h1>Registrate Humano</h1>

    </div>
    <br><br>
      <form class="form" #personaForm="ngForm"  (ngSubmit)="agregarPersona(personaForm)" style="text-align:center">
          <div class="row" style="margin: 10px">
              <div class="col-md-6">
              
                    <div class="form-group " >
                        <label class="title" >Nombre </label>
                        <input type="text" [(ngModel)]='nombre' name ='nombre' class="form-control col-md-12"  aria-describedby="emailHelp" placeholder="Germandio1542">
                      </div>
              
              </div>
              <div class="col-md-6">
              
                <div class="form-group " >
                    <label class="title" >Apellido</label>
                    <input type="text" [(ngModel)]='apellido' name ='apellido' class="form-control col-md-12"  aria-describedby="emailHelp" placeholder="Rominguez">
                  </div>
          
          </div>
          </div>
    
          <div class="row" style="margin: 10px">
                <div class="col-md-4">
                
                      <div class="form-group ">
                          <label class="title " >Edad</label>
                          <input type="number" [(ngModel)]='edad' name='edad' class="form-control col-md-12"  aria-describedby="emailHelp" placeholder="21">
                        </div>
              
                </div>
                <div class="col-md-8">
                
                  <div class="form-group ">
                      <label class="title " >Contraseña</label>
                      <input type="password" [(ngModel)]='contra' name='contra' class="form-control col-md-12"  aria-describedby="emailHelp" placeholder="***********">
                    </div>
          
            </div>
            </div>
            <button class="btn btn-primary button"  type="submit">Agregar</button>
          </form>
      <br>
      <hr>
      

  </div>

 

 
</div>

{{personaForm.value | json}}