.panel{

    margin: 0 auto;
    display: block;
    padding: 0;
    width: 600px;
    height: 500px;
    background-color: #4865491c;
    border-radius: 10px;
    border-bottom: solid 5px #dadada;
    border-right: solid 5px #dadada;
}
.title{
    font-size: 20px;
}
.btn{
    margin: 0 auto;
    display:block;
}
.btn-primary {
    color: #fff;
    background-color: #2b565d;
    border-color: #2b565d;
    width: 200px;
}
